@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 5 5 5;
        /* #1A1A1A */
        --text: 255 255 255;
        --primary: 255 255 255;
        --secondary: 156 163 175;
        --card: 39 39 42;
        /* #27272a */
        --border: 63 63 70;
    }
}